<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://todo20231111014613.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/89302e21-1af0-42f6-9afa-5c04bf76dc19/resourceGroups/assign9-cosmosdb-rgs/providers/Microsoft.ContainerRegistry/registries/todo20231110004231</ContainerResourceId>
    <ContainerResourceName>todo20231110004231</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>todo20231110004231.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/89302e21-1af0-42f6-9afa-5c04bf76dc19/resourcegroups/assign9-cosmosdb-rgs/providers/Microsoft.Web/sites/todo20231111014613</ResourceId>
    <ResourceGroup>assign9-cosmosdb-rgs</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://todo20231111014613.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>43e0ebde-173d-42a6-971d-91a51931d65b</ProjectGuid>
  </PropertyGroup>
</Project>